
.section-a_left-align__h {font-family: "Raleway"; font-weight: 700;}
.section-a_left-align__p {font-family: "Open Sans";}

@media screen and (max-width: 767px)

{

body {margin: 0px;
      padding: 0px;
      font-size: 16px;}

.bg {background-image: url(../img/bg-intro.svg);
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        height: 443px;
        width: 100%;
        margin-top: 0;}

.section-a__icons {margin-top: 50px;
                   margin-left: 0px;
                   float: right;
                   color: white;
                   font-size: 10px;
                   margin-right: 42px;
                   position: relative;
                   top: -440px;
                   z-index: 3;}

.fa-facebook-f {margin-left: 23px;
                margin-right:23px;}

.logo {float: left;
       margin-top: 35px;
       margin-left: 41px;
       top: -440px;
       position: relative;
       z-index: 2;}

.wlogo {fill: white;}

.key {height: 177px;
      position: relative;
      top: 111px;
      display: block;
      margin: auto;
      z-index: 1;}

.key-wrapper {width: 100%;
              justify-content: center;
              display: flex;}

.section-a_left-align {display: flex;
                       flex-flow: column nowrap;
                       align-items: center;
                       width: 100%;}

.section-a_left-align__h {margin-top: 9px;
                          color: rgb(7, 4, 62);
                          width: 66.94%;
                          margin-bottom: 0;}

.section-a_left-align__p {margin-top: 21px;
                          margin-bottom: 37px;
                          color: rgb(128, 128, 128);
                          width: 66.94%;}

.section-a_left-align__btn {align-self: flex-start;
                            display: block;
                            margin-bottom: 38px;
                            color: white;
                            background-color: rgb(5, 214, 155);
                            border: none;
                            padding: 11px 38px;
                            border-radius: 5px;}

.section-a_left-align__input {border: 2px solid;
                              border-image-source: linear-gradient(to top, #f0f0f0, white);
                              border-image-slice: 1;
                              margin-bottom: 14px;}

.section-a_left-align__btn-wrapper {width: 66.94%;}

.sign-h {margin-top: 0;
         margin-bottom: 14px;}

.section-a__a {padding-bottom: 33px;
               color: hsl(243, 87%, 12%);}

.wrapper-a {text-align: right;}


}

@media screen and (min-width: 1440px)

{

html, body {height: 100%;}

.section-a {display: flex;
            flex-flow: row nowrap;
            align-items: center;
            height: 100%;
            min-height: 100%;
            width: 100%;}

.column-left {display: flex;
              flex-flow: column nowrap;
              align-items: center;
              justify-content: center;
              background-image: linear-gradient(to left, #1a1275, #6560b2);
              height: 100%;
              width: 47.22%;}

.column-right {display: flex;
              flex-flow: column nowrap;
              align-items: center;
              justify-content: center;
              height: 100%;
              width: 52.78%;}

.section-a_left-align {width: 80.44%;}

.logo-wrapper {align-self: flex-start;
               margin-left: 10%;
               position: relative;
               top: -200px;}

.section-a__icons {align-self: flex-end;
                  margin-right: 11%;
                  position: relative;
                  top: -230px;}

.fa-facebook-f {margin: 0 45px; color: #070439;}

.section-a_left-align__h {color: #070439;}

.section-a_left-align__p {color: #808080;}

.section-a_left-align__input {width: 380px;
                              height: 72px;
                              border: 2px solid;
                              border-image-source: linear-gradient(to top, #f0f0f0, white);
                              border-image-slice: 1;}

.section-a_left-align__btn {padding: 29px 69px;
                            margin-left: 21px;
                            border: none;
                            background-color: #06d79d;
                            color: white;
                            position: relative;
                            top: 2px;}

.section-a__a {position: relative; left: 82.44%; top: 185px;}






}
