
@media screen and (max-width: 767px)

{

body {margin: 0px;
      padding: 0px;
      font-size: 16px;}

header {background-image: url(../img/bg-intro.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 643px;}

.logo {float: left;}

.wlogo {fill: white;}

.key {height: 234px;
      position: relative;
      top: 200px;}

.key-wrapper {display: block; margin: auto;}

}
