
@media screen and (max-width: 767px)

{

body {margin: 0px;
      padding: 0px;
      font-size: 16px;}

header {background-image: url(../img/bg-intro.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 443px;}

.logo {float: left;
       margin-top: 35px;
       margin-left: 41px;
       position: absolute;
       z-index: 2;}

.wlogo {fill: white;}

.key {height: 177px;
      position: relative;
      top: 161px;
      display: block;
      margin: auto;
      z-index: 1;}

.key-wrapper {width: 100%;}

}
